<h1>Hi</h1>


<form action="placeholder">
<label for= "cookie"  >Enter a number </label>

<input id="cookie" type="text" placeholder="Enter a number" name="elephant">

<button>Calculate square root</button>

</form>

<a href="/square/results">
